<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335506891082-vohpsn8k9m0sckui4a5k5csnuvhp67s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335506891082-vohpsn8k9m0sckui4a5k5csnuvhp67s2</string>
	<key>API_KEY</key>
	<string>AIzaSyCfqL0AbU-oVVaVnO0Z7-gQRNhg-1BB8DM</string>
	<key>GCM_SENDER_ID</key>
	<string>335506891082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dadaren.gedi</string>
	<key>PROJECT_ID</key>
	<string>gedi-8494a</string>
	<key>STORAGE_BUCKET</key>
	<string>gedi-8494a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335506891082:ios:6677a85dae0ad38a7661b3</string>
</dict>
</plist>